In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Line 1: imports the NumPy library for numberical operation
Line 2: Pandas Library used for data manipulation
Line 3: Matplotlib library used for vizulization
Line 4:Seaborn library used for data vizulization/ statistics graphs

In [ ]:
my_df = pd.read_csv(My Finance Data)
display(my_df.head())

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-133068982.py, line 1)

Finance data set represents each company from the year 2000
quarter 1
money made
stock price